<div class="col-xs-12" ng-controller="Volume">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Volume atual:</h3>
        </div>
        <div class="panel-body">
            <svg id="graficoVolume" width="100%"></svg>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Porcentagem ao longo dos anos:</h3>
        </div>
        <div class="panel-body">
            <div id="graficoAnos">
            </div>
        </div>
    </div>
</div>